<mat-sidenav-container class="sidenav-container">
    ​
        <!--SideNav-->
        <mat-sidenav #drawer class="sidenav" fixedInViewport
            [attr.role] = "(isHandset$ | async) ? 'dialog': 'navigation' "
            [mode] = "(isHandset$ | async) ? 'over' : 'side' "
            [opened] = "false"
        >
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/home" (click)="drawer.close()">Home</a>
            <a mat-list-item routerLink="/portfolio" (click)="drawer.close()">Portfolio</a>
            <a mat-list-item routerLink="/music" (click)="drawer.close()">Music</a>
            <a mat-button routerLink="/register">Register</a>
            <a mat-button routerLink="/login">Login</a>
        </mat-nav-list>
    ​
        </mat-sidenav>
        <mat-sidenav-content>

        <!--Top Toolbar-->
    ​
        <mat-toolbar>
            <button type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf = "isHandset$ | async"
            ><mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
    ​
        <span class="logo" routerLink="/home">Chachi Guerrero</span>
        <span class="fill-space"></span>
        
        <div *ngIf="!(isHandset$ | async)">
            <a mat-button routerLink="/home">Home</a>
            <a mat-button routerLink="/portfolio">Portfolio</a>
            <a mat-button routerLink="/music">Music</a>
            <a mat-button routerLink="/register">Register</a>
            <a mat-button routerLink="/login">Login</a>
            <a mat-button routerLink="/reset-password">Reset Password</a>
        </div>
        </mat-toolbar>




        <!--Transclusion in Angular-->
        <ng-content></ng-content>
    ​
    </mat-sidenav-content>
    </mat-sidenav-container>

