<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
    
            <h2 class="subtitle">Portfolio</h2>
            
            <h4 class="subtitle">What I do:</h4> 
            <!-- check if this works-->
            <div class="lists is-horizontal">
                <li>Branding</li> 
                <li>Advertising</li> 
                <li>Design</li>
                <li>Illustration</li>
                <li>Video Production</li>
            </div>
            
        </div>

    </div>
   
</section>

